terraform {
  backend "s3" {
    bucket       = "erp-portal-tfstate-758530010955"
    key          = "portal/terraform.tfstate"
    region       = "ap-south-1"
    encrypt      = true
    use_lockfile = true
  }
}
